[submodule "external/esp32-camera"]
	path = external/esp32-camera
	url = https://github.com/espressif/esp32-camera
[submodule "external/esp32-toolchain"]
	path = external/esp32-toolchain
	url = https://github.com/sturmgans/esp32-toolchain
[submodule "external/freertos"]
	path = external/freertos
	url = https://github.com/aws/amazon-freertos.git
	branch = release
